
/* TODO(mdc-migration): The following rule targets internal classes of progress-bar that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of progress-bar that may no longer apply for the MDC version. */
mat-progress-bar{
    margin: 30px;
    width:100px;
}

div {
    display: flex;
}

img{
    max-width: 600px;
}

mat-form-field {
    display: block;
}


.layout-column {
    flex-direction: column;
    row-gap: 10px;
    justify-content: space-around;
}

.login-button {
    display: flex;
    justify-content: center;
    flex-basis: 49%;
}

.center {
    display: flex;
    justify-content:center
}

.gradient-background {
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.white-font {
    color: white;
}