<section fxLayoutAlign="center center" style="height: 100%; width: 100%;">
    <mat-card style="margin-right: 20px;" fxHide.lt-sm>
      <mat-card-content>
        <img src="./../assets/login_background.jpg" fxFlex= "600px">
      </mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z8" fxFlex.lt-sm="90%" fxFlex="500px">
        <mat-card-content>
            <form #f="ngForm" fxLayout="column" fxLayoutGap = "10px" (ngSubmit)="onSubmit()" >
                <mat-form-field>
                    <mat-label fxLayoutAlign="center center">Enter your email</mat-label>
                    <input type="email" name="email" matInput required email ngModel #email>
                    <mat-error *ngIf="!email.valid">You must enter email</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label fxLayoutAlign="center center">Enter password</mat-label>
                    <input type="password" name="password" matInput required ngModel #password>
                    <mat-error *ngIf="!password.valid">You must enter password</mat-error>
                </mat-form-field>
                <div fxLayout fxLayoutGap="5px" fxLayoutAlign="center">
                    <button type="submit" mat-raised-button color="primary" [disabled]="!f.valid" fxFlex="50%">Login</button>
                    <button type="button" mat-raised-button color="accent" (click)="onClear()" fxFlex="50%">Clear</button>
                </div>
                <mat-divider [inset]="true"></mat-divider>
                <mat-label fxLayoutAlign="center center">New to Expense Tracker ?</mat-label>
                <button type="button" mat-raised-button color="primary" (click)="onSignUp()">Sign Up</button>
                <mat-divider [inset]="true"></mat-divider>
                <div fxLayout fxLayoutGap="5px" fxLayoutAlign="center center">
                  <span fxFlex="20%">Sign in with :</span>
                  <button type="button" mat-button fxFlex="35%" (click)="onSigninWithGoogle()">
                    <img src="./../../../assets/btn_google_light_normal_ios.svg" style="padding-right: 0px;">
                    <span style=  "font-size: 14px;">Google</span>
                  </button>
                  <button type="button" mat-button color="primary" fxFlex="35%" (click)="onSigninWithFacebook()">
                    <mat-icon style="margin-right: 5px;">facebook</mat-icon>
                    <span style= "color: darkblue; font-size: 14px;">Facebook</span>
                  </button>
                </div>
              </form>
        </mat-card-content>
        <mat-card-footer fxLayoutAlign="center">
          <mat-progress-bar mode="buffer" *ngIf="(isBufferOn$ | async)"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
</section>
