<mat-list role="list">
    <a mat-list-item routerLink="/dashboard" (click)="onClick()">
        <div>
            <mat-icon matListIcon color="primary">dashboard</mat-icon>
            <span style="font-size: 15px; color:blue">Dashboard</span>
        </div>
    </a>
    <a mat-list-item routerLink="/expense" (click)="onClick()">
        <div>
            <mat-icon matListIcon color="primary">timeline</mat-icon>
            <span style="font-size: 15px; color:blue">Expense</span>
        </div>
    </a>
    <a mat-list-item routerLink="/" (click)="onClick()">
        <div>
            <mat-icon matListIcon color="primary">payments</mat-icon>
            <span style="font-size: 15px; color:blue">Investment</span>
        </div>
    </a>
</mat-list>