
.iconSize {
    font-size: 20px;
    cursor: pointer;
}

.alignIcon {
    font-size: 15px;
    justify-content:flex-end!important;
    margin-right: 10px;
}

.font{
    color: darkgray;
    font-size: 12px;
    /* font-style: italic; */
    margin-left: 10px;
}

.firefox-bug > table {
    width: 100%;
  }

.flex-row{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    justify-content: flex-end;
    flex: 1 1 100%;
}

.flex-col{
    display: flex;
    flex-direction: column;
}