<section fxLayout="column" fxLayoutAlign="center" class="firefox-bug mat-elevation-z8 margin">
    <table mat-table [dataSource]="datasource">

        <ng-container matColumnDef="itemName">
            <mat-header-cell *matHeaderCellDef>Item Name</mat-header-cell>
            <mat-cell *matCellDef="let element" fxLayoutGap="10px">
                {{ element.ItemName }}
                <span *ngIf="element.isEdited" class="font">(edited)</span>
                <!-- <div fxFlex fxLayoutAlign="flex-end">
                    <span *ngIf="element.isEdited" class="font">* Edited</span>
                </div> -->
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.Price }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="purchaseDate">
            <mat-header-cell *matHeaderCellDef>Purchase Date</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.PurchaseDate | date: 'dd-MM-yyyy' }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="category">
            <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
            <mat-cell *matCellDef="let element" fxLayout>
                {{ element.Category }}
                <div fxFlex fxLayout="row" fxLayoutGap=5px fxLayoutAlign="flex-end">
                    <!-- <mat-icon *ngIf="element.isEdited" class="iconSize" matTooltip="Item has been edited" color="primary">info</mat-icon> -->
                    <mat-icon *ngIf="element.Comment !== ''" class="iconSize" matTooltip="Click to check comments" color="primary" (click)="openComment(element.Comment)">class</mat-icon>
                    <mat-icon matTooltip="Edit expense item" class="iconSize" color="primary" (click)="onEdit(element)">edit</mat-icon>
                    <mat-icon matTooltip="Delete Expense item" class="iconSize" color="warn" (click)="confirmDelete(element.ExpenseId)">delete_outline</mat-icon>
                </div>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="(displayedColumn$ | async)"></mat-header-row>
        <mat-row *matRowDef="let row; columns: (this.displayedColumn$ | async);"></mat-row>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</section>
