<mat-toolbar class="gradient-background">
    <div class="flex-container">
        <div>
            <div *appSmallDeviceVersion>
                <button mat-button *ngIf="(isAuthenticated$ | async)" (click)="onClick()">
                    <mat-icon style="color: white;">menu</mat-icon>
                </button>
            </div>
            <button appHighlight mat-button style="color: white;" color="primary" routerLink="/dashboard">Expense Tracker</button>
        </div>
        <div>
            <button style="color: white;" mat-button routerLink="/login" *ngIf="!(isAuthenticated$ | async)"
                color="primary">Login</button>
            <button style="color: white;" mat-button routerLink="/signup" *ngIf="!(isAuthenticated$ | async)"
                color="primary">Sign Up</button>
            <div style="display: flex;align-items:baseline; column-gap: 10px;">
                <span style="color: white; font-size: medium;" *ngIf="(isAuthenticated$ | async)">Welcome {{this.firstName$|async}}</span>
                <button mat-mini-fab color="primary" *ngIf="(isAuthenticated$ | async)" [matMenuTriggerFor]="menu">
                    <mat-icon>account_circle</mat-icon>
                </button>
            </div>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngIf="(isAuthenticated$ | async)"
                    color="primary" routerLink="profile">
                    <span style="color:darkblue">Profile</span>
                </button>
                <button mat-menu-item (click)="onLogout()" *ngIf="(isAuthenticated$ | async)"
                    color="primary">
                    <span style="color:darkblue">Logout</span>
                </button>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>