<mat-toolbar color="primary">
    <div class="flex-container">
        <div style="display: flex; flex-basis:50%;justify-content: flex-start;">
            <button mat-button *ngIf="(isAuthenticated$ | async)" (click)="onClick()" fxHide fxShow.lt-md>
                <mat-icon>menu</mat-icon>
            </button>
            <button mat-button style="color: white;" color="primary" routerLink="/dashboard">Expense Tracker</button>
        </div>
        <div style="display:flex; justify-content: flex-end; align-items: flex-end; flex-basis:50%; flex-wrap: nowrap;">
            <button style="color: white;" mat-button routerLink="/login" *ngIf="!(isAuthenticated$ | async)"
                color="primary">Login</button>
            <button style="color: white;" mat-button routerLink="/signup" *ngIf="!(isAuthenticated$ | async)"
                color="primary">Sign Up</button>
            <button mat-mini-fab color="primary" *ngIf="(isAuthenticated$ | async)" [matMenuTriggerFor]="menu">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngIf="(isAuthenticated$ | async)"
                    color="primary" routerLink="profile">
                    <span style="color:darkblue">Profile</span>
                </button>
                <button mat-menu-item (click)="onLogout()" *ngIf="(isAuthenticated$ | async)"
                    color="primary">
                    <span style="color:darkblue">Logout</span>
                </button>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>