<mat-accordion *ngFor="let element of datasource.data">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>{{ element.ItemName }} - {{element.PurchaseDate | date: 'MMMM-d'}}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
            <mat-label>Item Name</mat-label>
            <input matInput type="text" [value]=element.ItemName disabled>
        </mat-form-field>
        <!-- <mat-form-field>
            <mat-label>Purchase Date</mat-label>
            <input matInput type="text" [value]=element.PurchaseDate.toDateString() disabled>
        </mat-form-field> -->
        <mat-form-field>
            <mat-label>Price</mat-label>
            <input matInput type="text" [value]=element.Price disabled>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Category</mat-label>
            <input matInput type="text" [value]=element.Category disabled>
        </mat-form-field>
        <mat-form-field *ngIf="element.Comment != ''">
            <mat-label>Comment</mat-label>
            <textarea matInput type="text" [value]=element.Comment disabled></textarea>
        </mat-form-field>
        <p>
            <mat-hint *ngIf="element.isEdited == true">* Item has been edited</mat-hint>
        </p>
    </mat-expansion-panel>
</mat-accordion>

