<div *ngIf="(isDataUpdateInProgress$ | async)">
  <app-loading></app-loading>
</div>
<div class="grid-container" *ngIf="!(isDataUpdateInProgress$ | async)">
  <mat-grid-list [cols]="(cardLayout |async).gridCol" [rowHeight]="(cardLayout | async).rowheight">
    <mat-grid-tile [colspan]="(cardLayout|async).smallCard.col" [rowspan]="(cardLayout|async).smallCard.row">
      <mat-card class="dashboard-card mat-elevation-z4 gradient-background">
        <mat-card-title></mat-card-title>
        <mat-card-content>
          <div class="flex-container">
            <div class="flex-child">
              <div style="color: white; font-size: 1.5em; margin-bottom: 10px;">{{this.currentMonth$ | async}}</div>
              <span style="color:white; font-size: 1.5em;font-weight: bold; margin-top: 10px;">{{(currentMonthExpense$ | async) | currency:'INR'}}</span>
              <div class="flex-container">
                <span style="color:white; margin-top: 10px;display:flex;">
                  <span style="color:white">{{(percentageIncreaseMom$ | async) | number | number : '1.2-2'}}%</span>
                  <mat-icon color="warn" style="padding: 0;margin:0;"
                    *ngIf="(currentMonthExpense$ | async) !== 0 && ((currentMonthExpense$ | async) > (previousMonthExpense$ | async))">
                    arrow_drop_up</mat-icon>
                  <mat-icon style="color:white; padding: 0;margin:0;"
                    *ngIf="(currentMonthExpense$ | async) !== 0 && ((currentMonthExpense$ | async) < (previousMonthExpense$ | async))">
                    arrow_drop_down</mat-icon>
                </span>
              </div>
            </div>
            <div class="flex-child">
              <mat-icon *ngIf="(currentMonthExpense$ | async) !== 0" style="height: fit-content; width: fit-content; padding:10px" svgIcon="money"></mat-icon>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="(cardLayout|async).smallCard.col" [rowspan]="(cardLayout|async).smallCard.row">
      <mat-card class="dashboard-card mat-elevation-z4 gradient-background">
        <mat-card-title></mat-card-title>
        <mat-card-content>
          <div class="flex-container">
            <div class="flex-child">
              <div style="color: white; font-size: 1.5em; padding-bottom: 10px;">{{currentYear}}</div>
              <span style="color:white; font-size: 1.5em;font-weight: bold; margin-top: 10px;">{{((currentYearExpense$ | async)) | currency:'INR'}}</span>
              <span style="color:white; margin-top: 10px;" class="flex-container">
                <span style="color: white;" *ngIf="(previousYearExpense$ | async) != 0">{{(((currentYearExpense$ | async))/((previousYearExpense$ | async))* 100) | number | number : '1.2-2'}}% of {{currentYear-1}}</span>
              </span>
              <span style="color:white; margin-top: 10px;" class="flex-container">
                <span style="color: white;">{{(percentageIncreaseYoy$ | async) | number | number : '1.2-2'}}%</span>
                <mat-icon color="warn" style="padding: 0;margin:0;"
                  *ngIf="(percentageIncreaseYoy$ | async) > 0">
                  arrow_drop_up</mat-icon>
                <mat-icon style="color:white; padding: 0;margin:0;"
                  *ngIf="(percentageIncreaseYoy$ | async) < 0">
                  arrow_drop_down</mat-icon>
              </span>
            </div>
            <div class="flex-child">
              <mat-icon style="padding: 10px; width:fit-content; height:fit-content" svgIcon="graph"></mat-icon>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="(cardLayout|async).smallCard.col" [rowspan]="(cardLayout|async).smallCard.row">
      <mat-card class="dashboard-card mat-elevation-z4 gradient-background">
        <mat-card-title></mat-card-title>
        <mat-card-content>
          <div class="flex-column-container">
            <div style="color: white; font-size: 1.5em; padding-bottom: 20px;">Trending expenses</div>
            <div style="display: flex; color: white;" *ngFor="let expense of (trendingExpenseData$ | async)">
              <span style="display: flex;flex-basis: 50%;">{{expense.category}}</span>
              <span style="display: flex;flex-basis: 5%;">-</span>
              <span style="display: flex;flex-basis: 45%;">{{expense.expense | currency: 'INR'}}</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="(cardLayout|async).smallCard.col" [rowspan]="(cardLayout|async).smallCard.row">
      <mat-card class="dashboard-card mat-elevation-z4 gradient-background">
        <mat-card-title></mat-card-title>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list [cols]="(cardLayout |async).gridCol" [rowHeight]="(cardLayout | async).rowheight">
    <mat-grid-tile [colspan]="(cardLayout |async).wideCard.col" [rowspan]="(cardLayout |async).wideCard.row">
      <mat-card class="dashboard-card mat-elevation-z4">
        <mat-card-content>
          <div>
            <app-yearly-expense-graph></app-yearly-expense-graph>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list [cols]="(cardLayout |async).gridCol" [rowHeight]="(cardLayout | async).rowheight">
    <mat-grid-tile  [colspan]="(cardLayout |async).wideCard.col" [rowspan]="(cardLayout |async).wideCard.row">
      <mat-card class="dashboard-card mat-elevation-z4">
        <mat-card-content>
          <app-yearly-expense-category-graph>
          </app-yearly-expense-category-graph>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>