<div>
    <mat-toolbar-row class="toolbar">
        <button mat-button appHighlight (click)="onActive()">Active</button>
        <button mat-button appHighlight (click)="onTransactionHistory()">Transaction History</button>
        <button mat-button appHighlight (click)="onProfitLoss()">Realised Profit/Loss</button>
    </mat-toolbar-row>
    <div *ngIf="activeTab==='Active'">
        <app-active-equity></app-active-equity>
    </div>
    <div *ngIf="activeTab==='Transaction History'">
        <app-equity-history></app-equity-history>
    </div>
    <div *ngIf="activeTab==='Profit/Loss'">
        <app-realized-gain></app-realized-gain>
    </div>
</div>
