<form #f="ngForm" (ngSubmit)="onSubmit()" style="display: flex; flex-direction:column; width: 400px">
  <span mat-dialog-title>Your feedback</span>
  <span mat-dialog-content style="display: flex; flex-direction: column;">
      <mat-form-field>
          <mat-label>Enter your feedback</mat-label>
          <textarea matInput rows="5" #comments required ngModel name="comments"></textarea>
          <mat-error *ngIf="!comments.valid">You must enter feedback</mat-error>
      </mat-form-field>
  </span>
  <div mat-dialog-actions class="flex-container-row">
    <button type="submit" mat-flat-button color="primary" [mat-dialog-close]="true">Submit</button>
    <button type="button" mat-flat-button color="accent" [mat-dialog-close]="false">Cancel</button>
  </div>
</form>
