mat-sidenav {
    width: 200px;
}

mat-sidenav-container, mat-sidenav, mat-sidenav-content {
    height: 100%;
    margin: 0;
    padding: 0;
}

.position {
  position: sticky; bottom: 0px;
}

.flex-container {
  display: flex;
  flex: 1 1 0;
  justify-content: space-between;
  width: 100%;
}