<div (window:resize)="onResize($event)" style="display: flex; flex-direction: column;justify-content: space-between; height:100%">
    <app-header (toggleSideBar)="onToggle()" ></app-header>
    <section style="flex: 1 1 0">
        <mat-sidenav-container>
            <mat-sidenav #sidenav [mode]="this.sidenavMode" *ngIf="isAuthenticated$ | async" role="navigation">
                <app-sidebar (sidenavClickEvent)="onToggle()" (sidenavLoadEvent)="onSideNavLoad()"></app-sidebar>
            </mat-sidenav>
            <mat-sidenav-content>
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </section>
    <mat-toolbar color='primary' class="position">
        <div class="flex-container">
            <button mat-button>
                <mat-icon>copyright</mat-icon>
                <span>Angular Apps 2020</span>
            </button>
            <div *ngIf="(this.isAuthenticated$ | async)">
                <button mat-button (click)="onClick()">Feedback Form</button>
            </div>
        </div>
    </mat-toolbar>
</div>
