<form #f="ngForm" (ngSubmit)="onSave()">
    <div class="flex col-gap-5">
        <button mat-raised-button type="submit" color="primary" class="margin" [disabled]="!f.dirty">Update</button>
        <button mat-raised-button type="button" color="accent" class="margin" (click)="onCancel()">Cancel</button>
    </div>
    <mat-card class="mat-elevation-z8 margin">
        <mat-form-field>
            <mat-label>Item Name</mat-label>
            <input type="text" matInput [ngModel]= "(expense$ | async).itemName" name="ItemName">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Price</mat-label>
            <input type="number" matInput [ngModel]= "(expense$ | async).price" name="Price">
        </mat-form-field>
        <mat-form-field>
            <mat-select [ngModel]= "(expense$ | async).category" name="Category">
                <mat-option *ngFor="let category of (categories$ | async)" [value]="category.Name">{{ category.Name }}</mat-option>
            </mat-select>
            <mat-error>You must select category</mat-error>
        </mat-form-field>
        <mat-form-field color="accent" appearance="fill">
            <mat-label>Enter date of purchase</mat-label>
            <input matInput [ngModel]= "(expense$ | async).purchaseDate"  name="PurchaseDate" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker color="primary"></mat-datepicker>
            <mat-error>You must enter date of purchase</mat-error>
        </mat-form-field>
        <mat-card-footer style="display: flex; flex-direction:column">
            <mat-form-field class="margin">
                <mat-label>Leave a comment</mat-label>
                <textarea matInput [ngModel]= "(expense$ | async).comment" name="Comment"></textarea>
            </mat-form-field>
        </mat-card-footer>
    </mat-card>
</form>