<form #f="ngForm" fxLayoutGap = "5px" (ngSubmit)="onSubmit()" fxFlex.lt-sm="100%" fxFlex="400px">
  <span mat-dialog-title>Your feedback</span>
  <span mat-dialog-content fxLayout="column">
      <mat-form-field>
          <mat-label fxLayoutAlign="center center">Enter your feedback</mat-label>
          <textarea matInput rows="5" #comments required ngModel name="comments"></textarea>
          <mat-error *ngIf="!comments.valid">You must enter feedback</mat-error>
      </mat-form-field>
  </span>

  <div mat-dialog-actions fxLayout fxLayoutGap="5px" fxLayoutAlign="center">
      <button type="submit" mat-flat-button color="primary" [mat-dialog-close]="true">Submit</button>
      <button type="button" mat-flat-button color="accent" [mat-dialog-close]="false">Cancel</button>
  </div>
</form>
