<div class="flex-container">
  <h4  style="justify-content: flex-start end; flex-basis: 50%; row-gap: 10px; color: darkblue; padding: 0px; margin: 0px;">Category Analysis</h4>
  <div style="display:flex; justify-content: flex-end; flex-basis:50%; flex-wrap: nowrap; column-gap: 10px;">
    <div>
      <label style="color: darkblue; margin-right: 15px;">Category</label>
      <select name="category" id="category" (change)="onCategoryChange($event.target.value)">
        <option [value]=category.Name *ngFor="let category of categories">{{category.Name}}</option>
      </select>
    </div>
    <div>
      <label style="color: darkblue; margin-right: 15px;">Years</label>
      <select name="year" id="year" (change)="onYearChange($event.target.value)">
        <option [value]=year *ngFor="let year of years">{{year}}</option>
      </select>
    </div>
  </div>
</div>
<div>
  <div *ngIf="series != undefined">
    <apx-chart
      [series]="series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [yaxis]="chartOptions.yaxis"
      [xaxis]="chartOptions.xaxis"
      [fill]="chartOptions.fill"
      [title]="chartOptions.title"
      #chart
    ></apx-chart>
  </div>
</div>