<div fxLayout="row" >
  <h4 fxLayout="row" fxLayoutAlign="start start" style="color: darkblue; padding: 0px; margin: 0px;">Category Analysis</h4>
  <div fxLayout="row" fxLayoutAlign="flex-end start" fxFlex fxLayoutGap="10px">
    <div >
      <label style="color: darkblue; margin-right: 15px;">Category</label>
      <select name="category" id="category" (change)="onCategoryChange($event.target.value)">
        <option [value]=category.Name *ngFor="let category of (categories$ | async)">{{category.Name}}</option>
      </select>
    </div>
    <div>
      <label style="color: darkblue; margin-right: 15px;">Years</label>
      <select name="year" id="year" (change)="onYearChange($event.target.value)">
        <option [value]=year *ngFor="let year of (years$ | async)">{{year}}</option>
      </select>
    </div>
  </div>
</div>
<div>
  <div *ngIf="series != undefined">
    <apx-chart
      [series]="series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [yaxis]="chartOptions.yaxis"
      [xaxis]="chartOptions.xaxis"
      [fill]="chartOptions.fill"
      [title]="chartOptions.title"
      #chart
    ></apx-chart>
  </div>
</div>